<!--- 自分の投稿のデザイン --->
<div class="w-96 p-4 border border-white/50 rounded-xl bg-white/60 backdrop-blur-md shadow-md">
  <div class="card-body">
    <div class="ml-auto">
      <% if post.published? %>
        <span class="public-mark text-green-500"><i class="fa-solid fa-lock-open"></i></span>
      <% else %>
        <span class="private-mark text-red-500"><i class="fa-solid fa-lock"></i></span>
      <% end %>
    </div>
    <p class="text-black text-lg"><%= post.content %></p>
    <p class="text-gray-500 text-sm mb-0.5"><%= post.created_at.strftime("%Y/%m/%d %H:%M") %></p>
    <div class="mb-0">
      <%= render 'posts/like_buttons', post: post, likes: @likes_by_post[post.id] %>
    </div>
    <div class="flex justify-end space-x-2 mt-1">
      <button onclick="document.getElementById('edit_modal_<%= post.id %>').showModal()" class="text-gray-700 hover:text-blue-500 transition">
        <i class="fa-solid fa-pen-fancy text-lg"></i>
      </button>

      <%= link_to post_path(post), id: "button-delete-#{post.id}", data: { turbo_method: :delete }, class: 'text-gray-700 hover:text-red-500 transition' do %>
        <i class="fa-solid fa-trash-can text-lg"></i>
      <% end %>
    </div>
  </div>
</div>

<!--- 編集モーダル --->
<dialog id="edit_modal_<%= post.id %>" class="modal">
  <div class="modal-box bg-white">
    <h3 class="text-lg font-bold text-black">投稿を編集</h3>
    <%= form_with model: post, url: post_path(post), method: :patch, local: true do |f| %>
      <div class="form-grouptext-white">
        <%= f.text_area :content, class: "form-control w-full", rows: 5 %>
      </div>
      <div class="form-group text-white">
        <%= f.label :status, "ステータス" %>
        <%= f.select :status, [['公開', 'published'], ['非公開', 'unpublished']], {}, class: "form-control" %>
      </div>
      <div class="modal-action">
        <%= f.submit "更新", class: "btn btn-primary" %>
        <button type="button" onclick="document.getElementById('edit_modal_<%= post.id %>').close()" class="btn red">キャンセル</button>
      </div>
    <% end %>
  </div>
</dialog>