<p><%= current_user.username %>さんの投稿一覧</p>

<!-- 投稿用のモーダル -->
<button class="btn" onclick="my_modal_1.showModal()">投稿作成</button>
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">投稿作成画面</h3>
    <%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: "form-control", placeholder: "ポスト内容", rows: 5 %>
      </div>
      <div class="form-group">
        <%= f.label :status, "ステータス" %>
        <%= f.select :status, [['公開', 'published'], ['非公開', 'unpublished']], { prompt: '選択してください' }, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "作成", class: "btn" %>
      </div>
    <% end %>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>

<!--- ページ用のタブ --->
<div role="tablist" class="tabs tabs-bordered">
  <div role="tab" class="tab">
    <%= link_to 'みんなの投稿', posts_path, remote: true %>
  </div>
  <div role="tab" class="tab">
    <span class="tab-link active">自分の投稿</span>
  </div>
  <div role="tab" class="tab">
    <%= link_to 'いいね一覧', my_likes_path(current_user), remote: true %>
  </div>
</div>

<!--- 自分の投稿を表示 --->
<div id="tab-content">
  <% @posts.each do |post| %>
    <div class="card bg-violet-50 w-96 border border-gray-300">
      <div class="card-body">
        <p class="text-black text-lg"><%= post.content %></p>
      </div>
      <%= render 'posts/like_buttons', post: post, likes: @likes_by_post[post.id] %>
      <%= link_to '編集', edit_post_path(post), id: "post_#{post.id}", class: 'btn btn-active btn-ghost' %>
      <%= link_to '削除', post_path(post), id: "button-delete-#{post.id}", data: { turbo_method: :delete }, class: 'btn btn-active btn-ghost' %>
    </div>
  <% end %>
</div>