<h1 class="text-black">新規登録</h1>

<%= form_with(model: @user, local: true) do |f| %>
	<div>
		<%= f.label :username, class: "form-label" %>
		<%= f.text_field :username, class: "form-control" %>
	</div>

	<div>
		<%= f.label :email, class: "form-label" %>
		<%= f.email_field :email, class: "form-control" %>
	</div>

	<div>
	<p>パスワードは8文字以上で作成してください</p>
		<%= f.label :password, class: "form-label" %>
		<%= f.password_field :password, class: "form-control" %>
	</div>

	<div>
		<%= f.label :password_confirmation, class: "form-label" %>
		<%= f.password_field :password_confirmation, class: "form-control" %>
	</div>

	<div>
		<%= link_to '利用規約はこちらから', terms_path, target: '_blank' %>
	</div>

	<div class="field">
		<%= f.check_box :terms_accepted, {}, true, false %>
		<%= f.label :terms_accepted, '利用規約に同意します' %>
	</div>

	<%= f.submit "登録", class: "btn btn-primary" %>

	<div>
  <%= link_to auth_at_provider_path(provider: :google) do %>
    <%= image_tag "google_sign_up.png" %>
  <% end %>
  </div>
<% end %>
