<h1 class="text-black">新規登録</h1>

<%= form_with(model: @user, local: true) do |f| %>
	<div>
		<%= f.label :username, class: "form-label" %>
		<%= f.text_field :username, class: "form-control" %>
	</div>

	<div>
		<%= f.label :email, class: "form-label" %>
		<%= f.email_field :email, class: "form-control" %>
	</div>

	<div>
	<p>パスワードは8文字以上で作成してください</p>
		<%= f.label :password, class: "form-label" %>
		<%= f.password_field :password, class: "form-control" %>
	</div>

	<div>
		<%= f.label :password_confirmation, class: "form-label" %>
		<%= f.password_field :password_confirmation, class: "form-control" %>
	</div>

	<%= f.submit "登録", class: "btn btn-primary" %>
<% end %>

	<% if current_user %>
		<%= link_to '登録', user_posts_path(current_user.id) %>
	<% end %>

