<p><%= current_user.username %>さんの投稿一覧</p>

<br>
<h2 class="inline-block text-lg text-indigo-300">自分の投稿</h2>
<% @posts.each do |post| %>
  <div class="post">
    <div class="card bg-violet-50 w-96 border border-gray-300">
      <div class="card-body">
        <p class="text-black text-lg"><%= post.content %></p>
      </div>
      <%= link_to '編集', edit_post_path(post), id: "post_#{post.id}", class: 'btn btn-active btn-ghost' %>
    </div>
  </div>
<% end %>
</br>


<!-- 投稿用のモーダル -->
<button class="btn" onclick="my_modal_1.showModal()">投稿作成</button>
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">投稿作成画面</h3>
    <%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: "form-control", placeholder: "ポスト内容", rows: 5 %>
        <%= f.text_field :status, class: "form-control", placeholder: "ステータス" %>
      </div>
      <div class="form-group">
        <%= f.submit "作成", class: "btn" %>
      </div>
    <% end %>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>