<% if flash[:notice] %>
  <div class="flash-message bg-blue-400 text-white text-lg font-bold p-4 rounded-md shadow-md">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="flash-message bg-red-500 text-white text-lg font-bold p-4 rounded-md shadow-md">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if @user&.errors&.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @post&.errors&.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>