<!--- いいね9  _like_buttonsにrenderさせる --->
<% like = post.likes.find_by(like_type: 'like_ninth', user: current_user) %>
<% if like %>
  <%= form_with url: post_like_path(post, like), method: :delete, data: { turbo_stream: true }, html: { id: "ninth-like-button-#{post.id}" } do %>
    <%= hidden_field_tag :like_type, 'like_ninth' %>
    <button type="submit" class="flex items-center space-x-1 text-gray-400 px-4 py-2">
      <i class="fa-solid fa-face-meh text-amber-300"></i>
      <p class="text-xs" id="like-count-like_ninth-<%= post.id %>">
        <%= (@likes_by_post && @likes_by_post[post.id]&.count { |l| l.like_type == 'like_ninth' } || 0) %>
      </p>
    </button>
  <% end %>
<% else %>
  <%= render 'posts/ninth_like', post: post %>
<% end %>