<!--- いいね10  _like_buttonsにrenderさせる --->
<% like = post.likes.find_by(like_type: 'like_tenth', user: current_user) %>
<% if like %>
  <%= form_with url: post_like_path(post, like), method: :delete, data: { turbo_stream: true }, html: { id: "tenth-like-button-#{post.id}" } do %>
    <%= hidden_field_tag :like_type, 'like_tenth' %>
    <button type="submit" class="flex items-center space-x-1 text-gray-400 px-4 py-2">
      <i class="fa-solid fa-hands-clapping text-orange-200"></i>
      <p class="text-xs" id="like-count-like_tenth-<%= post.id %>">
        <%= post.likes.where(like_type: 'like_tenth').count %>
      </p>
    </button>
  <% end %>
<% else %>
  <%= render 'posts/tenth_like', post: post %>
<% end %>