<h1>編集する投稿</h1>

<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, [['公開', 'published'], ['非公開', 'unpublished']] %>
  </div>

  <div class="btn btn-active btn-accent">
    <%= form.submit "更新！" %>
  </div>
<% end %>

<%= link_to '戻る', my_posts_path(current_user) %>