<!DOCTYPE html>
<html>
  <head>
    <title>Empatia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <!-- 背景色 -->
  <body class="relative bg-cover bg-center bg-fixed" style="background-image: url('<%= asset_path("top.jpg") %>');">
    <!-- オーバーレイ（全体を暗くする） -->
    <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-sm"></div>
    <!--- オーバーレイより前面にする --->
    <div class="relative z-10">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    </div>
  </body>
</html>
